@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    font-size: 1vmax;
    font-family: 'Azeret Mono', monospace;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    overflow-x: hidden;
}
header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #000000;
}
iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
    filter: blur(3px);
    pointer-events: none;
}
h1 {
    z-index: 1;
    font-size: 10rem;
    color: #FFFFFF;
    text-align: center;
    text-shadow: #FFFFFF80 0px 0px 0.1em;
}
h2 {
    flex-grow: 1;
    z-index: 1;
    font-size: 4rem;
    color: #FFFFFF;
    text-align: center;
    text-shadow: #FFFFFF 0px 0px 0.1em;
    font-weight: 300;
}
nav {
    z-index: 1;
    background-color: #1A237E;
    height: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}
a {
    font-size: 2.2rem;
    text-decoration: none;
    text-align: center;
    text-overflow: clip;
    white-space: nowrap;
    color: #FFFFFF;
}
main {
    display: flex;
    flex-direction: column;
}
img {
    width: 95vw;
}